= javascript_include_tag 'jqgrid_interface/jquery'
= javascript_include_tag 'jqgrid_interface/jquery-ui'
= javascript_include_tag 'jqgrid_interface/jquery.jqGrid'
= javascript_include_tag 'jqgrid_interface/js/jqModal'
= javascript_include_tag 'jqgrid_interface/js/jqDnR'
= stylesheet_link_tag 'jqGrid-themes/coffee/grid'
= stylesheet_link_tag 'jqGrid-themes/jqModal'
= javascript_include_tag 'jqgrid_interface/jquery-autocomplete/jquery.autocomplete'
= javascript_include_tag 'jqgrid_interface/grid_autocomplete'
= stylesheet_link_tag 'jquery.autocomplete'