= javascript_include_tag 'jqgrid_interface/jquery'
= javascript_include_tag 'jqgrid_interface/jquery-ui'
= javascript_include_tag 'jqgrid_interface/jquery.jqgrid'
= javascript_include_tag 'jqgrid_interface/js/jqModal'
= javascript_include_tag 'jqgrid_interface/js/jqDnR'
= stylesheet_link_tag 'jqGrid-themes/basic/grid'
= stylesheet_link_tag 'jqGrid-themes/jqModal'